<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>623512E04B60C45B7F5AC106</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6235159FF97D5AE9B3D9A434</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>623517D92FAB4B927CDB92FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
