<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>623519BECB31F41C4A86E57C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>62351C9FC223FD9D4197C36C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>62351FB35840F4875C288CA4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
